---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Canonical to broken test-2http</title>
    <link rel="canonical" href="https://tobecurious.win/non-existing-page1" />
  </head>
  <body>
    <h1>Canonical to Broken URL Test-2http</h1>
    <p>This page’s canonical points to a 404 URL: <code>/non-existing-2http</code></p>
  </body>
</html>
